# Local configuration (Contains sensitive API keys)
stash_jellyfin_proxy.conf
.env
authenticated_IPs.json
stats.json
display_preferences.json

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Logs
*.log
config/logos/
*.log.?

# IDE settings
.vscode/
.idea/
.DS_Store

# Jellyfin Web UI (Local Testing)
jellyfin-web/