<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{SERVER_NAME}}</title>
    {% include 'components/head.html' %}
</head>
<body>
    {% include 'components/modals.html' %}

    <div class="layout">
        {% include 'components/navbar.html' %}

        <main class="main">
            {% include 'components/tab_dashboard.html' %}
            {% include 'components/tab_settings.html' %}
            {% include 'components/tab_logs.html' %}
            {% include 'components/tab_guide.html' %}
        </main>
    </div>

    {% include 'components/scripts.html' %}
</body>
</html>